* {
    text-align: center;
    padding: 0.4em;
} 

.container {
    border: solid 2px aqua;
    position: relative;
    left: 380px;
    width: 400px;
    height: 500px;
}

@media only screen and (max-width: 670px) {
    .all {
        font-size: 20%;
        position: relative;
        right: 430px;
      }
    }
